// .filter-container {
//   background: white;
//   border-radius: 5px;
//   left: 10px;
//   position: fixed;
//   left: 10px;
//   transition: transform .5s ease;
//   top: 10px;
//   z-index: 401;
//
//   &.gallery-hidden {
//     transform: translateX(100%);
//
//     .gallery-toggle::after {
//       content: '\25B2';
//     }
//   }
// }
//
// .filter-toggle {
//   background: white;
//   border: 0;
//   border-top-left-radius: 5px;
//   border-top-right-radius: 5px;
//   position: absolute;
//   top: -23px;
//   right: 5px;
//
//   &::after {
//     content: '\25BC';
//     transform: rotate(90deg);
//   }
// }

.filter-container {
  background: white;
  border-radius: 5px;
  bottom: 20px;
  max-height: 95vh;
  max-width: 90vw;
  padding: 3%;
  position: fixed;
  left: 10px;
  transform: translateX(-98%);
  transition: all .5s;
  width: 100%;
  z-index: 1001;

  &.active {
    display: block;
    transform: translateX(0);

    .filter-toggle::after {
      content: '\25C0';
    }
  }

  @media (min-width: 700px) {
    max-width: 400px;
  }
}

.filter-toggle {
  background: white;
  border: 0;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  color: black;
  font-size: 1em;
  position: absolute;
  right: -23px;
  top: 5px;
  z-index: 1002;

  &::after {
    content: '\25B6';
  }
}
